openapi: 3.0.0
info:
  title: NewtonX API
  description: NewtonX CLI版のAPI仕様書
  version: 1.0.0
  contact:
    name: NewtonX Team
    email: support@newton-x.net

servers:
  - url: https://api.newton-x.net/api
    description: Production server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        created_at:
          type: string
          format: date-time

    Assistant:
      type: object
      properties:
        uid:
          type: string
        name:
          type: string
        description:
          type: string
        model:
          type: string
        created_at:
          type: string
          format: date-time

    Chat:
      type: object
      properties:
        uid:
          type: string
        title:
          type: string
        assistant_uid:
          type: string
        folder_uid:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    Folder:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ChatImage:
      type: object
      properties:
        id:
          type: string
        uid:
          type: string
        filename:
          type: string
        size:
          type: integer
        mime_type:
          type: string
        created_at:
          type: string
          format: date-time

    ChatDocument:
      type: object
      properties:
        id:
          type: string
        filename:
          type: string
        size:
          type: integer
        mime_type:
          type: string
        created_at:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        role:
          type: string
          enum: [user, assistant]
        content:
          type: string
        timestamp:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

paths:
  /user:
    get:
      summary: ユーザー情報取得
      description: 現在のユーザー情報を取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /user/assistants:
    get:
      summary: アシスタント一覧取得
      description: 利用可能なアシスタント一覧を取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Assistant'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats:
    get:
      summary: チャット一覧取得
      description: チャット一覧を取得
      security:
        - BearerAuth: []
      parameters:
        - name: page
          in: query
          description: ページ番号
          required: false
          schema:
            type: integer
            default: 1
        - name: page_size
          in: query
          description: ページサイズ
          required: false
          schema:
            type: integer
            default: 20
        - name: search_query
          in: query
          description: 検索クエリ
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: チャット作成
      description: 新しいチャットを作成
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - assistant_uid
              properties:
                assistant_uid:
                  type: string
                  description: アシスタントUID
                title:
                  type: string
                  description: チャットタイトル
                folder_uid:
                  type: string
                  description: フォルダUID（オプション）
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats/{chat_uid}:
    parameters:
      - name: chat_uid
        in: path
        required: true
        schema:
          type: string
        description: チャットUID

    get:
      summary: チャット詳細取得
      description: チャットの詳細情報を取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '404':
          description: チャットが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: メッセージ送信
      description: チャットにメッセージを送信
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - messages
              properties:
                messages:
                  type: array
                  items:
                    $ref: '#/components/schemas/Message'
                search:
                  type: boolean
                  description: WEB検索フラグ
                  default: true
                knowledge_search:
                  type: boolean
                  description: ナレッジ検索フラグ
                  default: false
                parent_order:
                  type: integer
                  description: 親メッセージの順序
                  default: 0
                pii_entities:
                  type: array
                  items:
                    type: string
                  description: PIIエンティティ配列
                content_type:
                  type: string
                  description: コンテンツタイプ
                  default: "text/event-stream"
      responses:
        '200':
          description: 成功（SSEストリーミング）
          content:
            text/event-stream:
              schema:
                type: string
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: チャットが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: チャット削除
      description: チャットを削除
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 削除成功
        '404':
          description: チャットが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats/{chat_uid}/images:
    parameters:
      - name: chat_uid
        in: path
        required: true
        schema:
          type: string
        description: チャットUID

    post:
      summary: 画像アップロード
      description: チャットに画像をアップロード
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - images
              properties:
                images:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: 画像ファイル（jpg, jpeg, png, gif）
      responses:
        '201':
          description: アップロード成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  uids:
                    type: array
                    items:
                      type: string
                    description: 画像ID配列
                  id:
                    type: string
                    description: 画像ID（単一の場合）
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: ファイルサイズ超過
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats/{chat_uid}/document:
    parameters:
      - name: chat_uid
        in: path
        required: true
        schema:
          type: string
        description: チャットUID

    post:
      summary: ドキュメントアップロード
      description: チャットにドキュメントをアップロード
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - file
              properties:
                file:
                  type: string
                  format: binary
                  description: ドキュメントファイル（pdf, docx, txt, pptx, xls, xlsx）
      responses:
        '200':
          description: アップロード成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: バリデーションエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '413':
          description: ファイルサイズ超過
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /chats/{chat_uid}/folder:
    parameters:
      - name: chat_uid
        in: path
        required: true
        schema:
          type: string
        description: チャットUID

    post:
      summary: チャットをフォルダに移動
      description: チャットを指定したフォルダに移動
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - folder_id
              properties:
                id:
                  type: string
                  description: チャットUID
                folder_id:
                  type: integer
                  format: int64
                  description: フォルダID
      responses:
        '200':
          description: 移動成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: チャットまたはフォルダが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /folders:
    get:
      summary: フォルダ一覧取得
      description: フォルダ一覧を取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: フォルダ作成
      description: 新しいフォルダを作成
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: フォルダ名
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /folders/{folder_id}:
    parameters:
      - name: folder_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
        description: フォルダID

    get:
      summary: フォルダ内チャット一覧取得
      description: 指定したフォルダ内のチャット一覧を取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Chat'
        '404':
          description: フォルダが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: フォルダ更新
      description: フォルダ名を更新
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: 新しいフォルダ名
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          description: リクエストエラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: フォルダが見つかりません
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /company:
    get:
      summary: 会社情報取得
      description: 会社情報を取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  domain:
                    type: string
                  subdomain:
                    type: string
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /models/status:
    get:
      summary: モデルステータス取得
      description: 利用可能なモデルのステータスを取得
      security:
        - BearerAuth: []
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: boolean
        '401':
          description: 認証エラー
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
